<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
{% if reports %}
<table style="width:100%" id="reports-table">
    <tr>
        <th>ID</th>
        <th>Task 1</th>
        <th>Task 2</th>
        <th>Task 3</th>
        <th>Task 4</th>
    </tr>
    {% for report in reports %}
    <tr id="{{ report.id }}">
        <th class="id">{{report.id}}</th>
        <th class="task1">{{report.task1}}</th>
        <th class="task2">{{report.task2}}</th>
        <th class="task3">{{report.task3}}</th>
        <th class="task4">{{report.task4}}</th>
    </tr>
    {% endfor %}

</table>
{% else %}
<p>No reports are available.</p>
{% endif %}

<script>
    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/statusmanager/`);
    systemSocket.onopen = function (e) {
        systemSocket.send(JSON.stringify({"message": 'Sending message to server'}));
    };
    systemSocket.onmessage = function (e) {
        try {
            const reports = JSON.parse(e.data);
            for (var i in reports) {
                report = reports[i]
                if (!!document.querySelector("#\\3" + report['id'])) {
                    document.querySelector("#\\3" + report['id'] + " > .id").innerText = report['id'];
                    document.querySelector("#\\3" + report['id'] + " > .task1").innerText = report['task1'];
                    document.querySelector("#\\3" + report['id'] + " > .task2").innerText = report['task2'];
                    document.querySelector("#\\3" + report['id'] + " > .task3").innerText = report['task3'];
                    document.querySelector("#\\3" + report['id'] + " > .task4").innerText = report['task4'];
                } else {
                    body = 'tr id="' + report['id'] + '"><th class="id">' + report['id'] + '</th><th class="task1">' + report['task1'] + '</th><th class="task2">' + report['task2'] + '</th><th class="task3">' + report['task3'] + '</th><th class="task4">' + report['task4'] + '</th></tr>';
                    document.querySelector("table").appendChild(body);
                }
            }
        } catch(e) {

        }
    };
    systemSocket.onclose = function (e) {
        console.error('Chat socket closed');
    };

</script>
</body>
</html>